/* Alignments */
.trocar-dice-dieCount,.trocar-dice-dieSides,.trocar-dice-roll-button{
    text-align: center;
    margin-left: 1em;
}
.trocar-dice-dieCount
{
    margin-right: 1em;
}
.trocar-dice-results{
    overflow-y: scroll;
    max-height: 5em;
}

/* Color */
/* Dark Theme */
.trocar-dice-dark-theme > .trocar-dice-dieCount,
.trocar-dice-dark-theme > .trocar-dice-dieSides,
.trocar-dice-dark-theme > .trocar-dice-roll-button {
    background-color: black;
    color: gold;    
}
.trocar-dice-dark-theme{
    background-color: dimgray;
}

.trocar-dice-dark-theme > .trocar-dice-result  {
    background-color: black;
    color: gold;
    border: dashed 1px gold;
}

.trocar-dice-dark-theme > .trocar-dice-result-focused  {
    background-color: navy;
}

/* Default theme */
.trocar-dice-default-theme > .trocar-dice-result {
    border: dashed 1px black;
}

.trocar-dice-default-theme > .trocar-dice-result-focused {
    background-color: gold;
}